/* Estilos generales */
body {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
}

h1 {
  text-align: center;
  color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222; /* Fondo oscuro para el formulario */
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para el formulario */
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form div {
  margin-bottom: 15px;
}

form label {
  margin-bottom: 5px;
  font-size: 14px;
}

/* Estilos para los inputs (email y password) */
form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #333; /* Fondo oscuro para el input */
  color: #fff; /* Texto blanco */
  width: 100%; /* Asegura que todos los inputs tengan el mismo ancho */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

form input:focus {
  border-color: #4caf50; /* Color del borde cuando está enfocado */
}

/* Contenedor de la contraseña con posición relativa */
.password-container {
  position: relative;
  width: 100%;
}

/* Estilo para el ícono del ojo */
.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #fff; /* Color del ojo */
}

form button {
  padding: 10px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Asegura que el botón tenga el mismo ancho que los inputs */
}

form button:hover {
  background-color: #45a049;
}

form .error-message {
  color: red;
  text-align: center;
  font-size: 14px;
}
