/* Estilos generales */
body {
  background-color: #f4f4f2 !important;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  max-width: 400px;
  width: 100%;
  background-color: #F2F2EF;
  border: 1px solid black;
  border-radius: 30px;
}

h1 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  margin-bottom: 5px;
  font-size: 14px;
}

form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #e8e8e8;
  color: #424242;
  width: 100%;
  box-sizing: border-box;
}

form input:focus {
  border-color: #4caf50;
}

.password-container {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

form button {
  padding: 10px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #45a049;
}

form .error-message {
  color: #ED413E;
  text-align: center;
  font-size: 14px;
}
